#table-area {
    position: relative;
    background: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
}

.table-item {
    position: absolute;
    width: 100px;
    height: 100px;
    cursor: move;
    user-select: none;
    transform-origin: center center;
    text-align: center;
    border-radius: 3px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    justify-content: center;
}

.table-item img {
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
}

.box-image {
    width: 100%;
    padding: 10px;
}

.box-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-item .text {
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 2px;
}

.table-controls .btn-rotate {
    position: absolute;
    top: 2px;
    right: 2px;
}

.table-controls .btn-edit {
    position: absolute;
    top: 2px;
    left: 2px;
}

.table-controls .btn-delete {
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.table-controls button {
    padding: 2px 4px;
    font-size: 10px;
}

.table-item.selected {
    outline: 2px solid #0d6efd;
    z-index: 1000;
}

.table-item:hover {
    border: 1px solid #ddd;
    z-index: 1000;
}

.edit-table-select .selected {
    border: 2px solid #0d6efd !important;
    background-color: #e7f1ff !important;
}

.table-controls {
    opacity: 0;
}

.table-item:hover .table-controls {
    opacity: 1;
}

.edit-table-select {
    display: flex;
    align-items: center;
    gap: 20px;
}

.box-preview {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.list-sl {
    flex: 1;
    display: flex;
    gap: 20px;
    padding: 30px 0;
    border-top: 1px solid #ddd;
    margin-top: 25px;
}

.box-left {
    padding-right: 20px;
    border-right: 1px solid #ddd;
}

.gr-sl {
    flex: 1;
}

.shape-option svg {
    height: 20px;
}